<?xml version="1.0" encoding="utf-8"?>
<!--
 * @package     kwtSMS for Joomla
 * @copyright   Copyright (C) 2025 kwtSMS. All rights reserved.
 * @license     GNU General Public License version 2 or later; see LICENSE
-->
<form>
    <fieldset name="general" label="COM_KWTSMS_SETTINGS">
        <field name="gateway_enabled"
               type="radio"
               label="COM_KWTSMS_GATEWAY_ENABLED"
               class="btn-group"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="test_mode"
               type="radio"
               label="COM_KWTSMS_TEST_MODE"
               class="btn-group"
               default="1">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>

        <field name="debug_logging"
               type="radio"
               label="COM_KWTSMS_DEBUG_LOGGING"
               class="btn-group"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="log_retention_days"
               type="number"
               label="COM_KWTSMS_LOG_RETENTION"
               default="30"
               min="1"
               max="365" />
    </fieldset>

    <fieldset name="gateway" label="COM_KWTSMS_SETTINGS">
        <field name="api_username"
               type="text"
               label="COM_KWTSMS_API_USERNAME"
               maxlength="100" />

        <field name="api_password"
               type="password"
               label="COM_KWTSMS_API_PASSWORD"
               maxlength="200" />

        <field name="sender_id"
               type="text"
               label="COM_KWTSMS_SENDER_ID"
               maxlength="11" />
    </fieldset>
</form>
